@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
  transition: 0.3s;
  font-family: "Poppins";
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #fff0bf 0.89%,
    #fff4d2 17.23%,
    #f3df9f 42.04%,
    #e9ce76 55.12%,
    #e2c25a 71.54%,
    #c9a635 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-yellow-gradient,
.sign-in-button:hover {
  background: linear-gradient(
    157.81deg,
    #fff0bf -43.27%,
    #fff4d2 -21.24%,
    #f3df9f 12.19%,
    #e9ce76 29.82%,
    #e2c25a 51.94%,
    #c9a635 90.29%
  );
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover,
.card-codeLift:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

/* NAVBAR RESPONSIVE */
@media only screen and (max-width: 768px) {
  #menu-toggle:checked ~ #menu {
    display: block;
  }

  #menu-toggle:checked ~ div button {
    display: none;
  }

  #menu-toggle:checked {
    display: none;
  }

  #menu-toggle:checked ~ #menu div ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
}
/* END NAVBAR RESPONSIVE */

/*** LANDING PAGE ***/
.hero {
  content: "";
  background-image: url("https://images.unsplash.com/photo-1556761175-5973dc0f32e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
  object-fit: cover;
}
.gradient {
  background-image: linear-gradient(
    to right,
    rgba(17, 26, 37, 0.8) 20%,
    rgba(17, 26, 37, 0.7) 40%,
    rgba(17, 26, 37, 0.4) 70%,
    rgba(17, 26, 37, 0) 100%
  );
}

@layer base {
  .hero-header {
    @apply flex-center flex-col gap-y-3 text-3xl font-bold text-white lg:text-4xl;
  }

  .hero-button {
    @apply px-5 py-2 mt-10 text-sm font-medium leading-5 text-center capitalize bg-blue-600 rounded-lg bg-yellow-gradient text-primary hover:bg-blue-500 lg:mx-0 lg:w-auto focus:outline-none;
  }
  .hero-feature {
    @apply flex-center flex-wrap  mt-8 text-gray-500 sm:justify-between;
  }

  .hero-icon {
    @apply mb-3 mr-3 mt-6 lg:mb-0 text-yellow-400 hover:text-yellow-500;
  }

  .feature-icon {
    @apply inline-flex items-center justify-center flex-shrink-0 w-20 h-20 mb-5 text-yellow-500 bg-yellow-100 rounded-full;
  }

  .feature-card-header {
    @apply mb-3 text-lg font-medium text-gray-100;
  }

  .feature-button {
    @apply flex px-8 py-2 mx-auto mt-16 text-lg text-black bg-yellow-500 border-0 rounded focus:outline-none hover:bg-yellow-600;
  }

  .pricing-button {
    @apply w-full px-4 py-2 mt-6 tracking-wide capitalize transition-colors duration-300 transform rounded-md text-primary bg-yellow-gradient opacity-90 hover:opacity-100;
  }

  .owner-wrapper {
    @apply container flex flex-col justify-center w-full min-h-screen px-6 py-10 mx-auto lg:absolute lg:inset-x-0;
  }
  .footer-link-wrapper {
    @apply grid grid-cols-2 gap-8 lg:col-span-2 md:grid-cols-4 lg:grid-cols-4 place-items-center lg:place-items-start lg:ml-28;
  }

  .footer-wrapper {
    @apply grid grid-cols-1 gap-8 lg:grid-cols-3 place-items-center lg:place-items-start;
  }

  .footer-icon {
    @apply opacity-80 hover:opacity-100 hover:-translate-y-1;
  }
  .footer-anchor-wrapper {
    @apply flex flex-col mt-4 space-y-2 text-sm;
  }
}
/*** END LANDING PAGE ***/

/*** LOGIN & REGISTER PAGE ***/

@layer base {
  /* ANCHOR AND BUTTON */
  .anchor {
    @apply inline-block no-underline hover:text-yellow-400 font-medium text-lg py-2 px-4 lg:-ml-2;
  }
  .sign-in-button {
    @apply bg-transparent text-white hover:text-gray-800 p-2 rounded mr-4 hover:-translate-y-1 border border-white hover:border-none;
  }
  .sign-up-button {
    @apply bg-yellow-gradient text-gray-800 p-2 rounded hover:-translate-y-1 hover:text-gray-950 opacity-90 hover:opacity-100;
  }
  .login-facebook-button {
    @apply relative mt-6 rounded-md py-2 text-sm text-gray-800 bg-gray-300 hover:bg-gray-200;
  }
  .login-button,
  .register-button {
    @apply flex items-center justify-center focus:outline-none text-primary text-sm sm:text-base bg-yellow-gradient hover:bg-blue-700 rounded-md py-2 w-full transition duration-150 ease-in
    opacity-80 hover:opacity-100;
  }

  /* INPUT LOGIN & REGISTER */
  .wrapper-icon {
    @apply inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400;
  }
  .input-login,
  .input-register {
    @apply text-sm sm:text-base placeholder-gray-500 pl-10 pr-4 rounded-lg border border-gray-400 w-full py-2 focus:outline-none focus:border-yellow-400;
  }
  /* ICON */
  .facebook-icon {
    @apply absolute left-0 top-0 flex items-center justify-center h-full w-10 text-blue-500 group-hover:text-blue-700;
  }
}
/*** END LOGIN & REGISTER PAGE ***/

/*** BENEFIT PAGE ***/
@layer base {
  .header-section {
    @apply text-4xl flex-center text-white text-center font-bold;
  }

  .card {
    @apply bg-card p-8 w-[24rem] rounded-xl text-white;
  }

  .card-icon {
    @apply h-4 w-4 ml-1 group-hover:translate-x-2 delay-100 duration-200 ease-in-out;
  }

  .card-header {
    @apply font-bold text-2xl mt-4;
  }

  .card-info {
    @apply font-light mt-4 leading-8;
  }

  .card-button {
    @apply bg-yellow-300 hover:bg-yellow-500 text-black font-semibold rounded-md py-2 px-5 text-sm mt-6 inline-flex items-center;
  }

  .card-codeLift {
    @apply bg-secondary text-white p-8 w-[32rem] border-[3px] border-y-yellow-300 border-x-yellow-500 rounded-xl mt-12 lg:mt-0;
  }

  .card-subheader {
    @apply font-bold mt-8;
  }
}
/*** END BENEFIT PAGE ***/

.panel {
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

.animated-element {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
.animated-element.is-visible {
  opacity: 1;
  transform: translateY(0);
}
